.multiple_choice {
  width: 70%;
  height: 50%;
  background-color: #99673817;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.multiple_choice input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.multiple_choice button {
  border: transparent;
  background-color: tomato;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.answer_text_collection {
  margin-top: 10px;
  width: 100%;
}

.answer_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.answer_list button {
  margin-top: 0px;
  margin-left: 10px;
}
